.view__ticket {
    background-color: rgba(255, 255, 255, 1);
    width: 90%;
    height: 90%;
  }

  .main__block__title__text {
    font: bold calc(calc(1vw + 1vh) * 1.5) 'Inter', sans-serif;
    text-align: center;
    margin: calc(1vw + 1vh) 0;
    color: rgba(64, 93, 145, 1);
  }

  .main__block__text {
    font: bold calc(calc(1vw + 1vh) * 1.25) 'Inter', sans-serif;
    margin-top: calc(1vw + 1vh);
    margin-bottom: calc(1vw + 1vh);
    margin-left: 4%;
    color: rgba(64, 93, 145, 1);
  }

  .main__router-link__box {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
  }

  .main__block__router-link {
    font: calc(calc(1vw + 1vh)) 'Inter', sans-serif;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(64, 93, 145, 1);
    border-radius: 40px;
    padding: calc(1vw * 1.25);
    border: none;
    text-decoration: none;
    cursor: pointer;
  }
