
  .container-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;

  }
  .input__title {
    margin-right: 15px;
    font-size: 20px;
    max-width: 150px;
  }

  .input {
    width: 200px;
    height: 35px;
    padding: calc(calc(1vw + 1vh) * 0.3);
    box-sizing: border-box;
    background-color: rgba(222, 226, 234, 1);
    outline-color: rgba(64, 93, 145, 1);
    border: none;
    font-size: calc(calc(1vw + 1vh) / 1.15);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
  }
