.main__block__container {
    width: calc(calc(1vw + 1vh) * 4.5);
    margin: 0;
    margin-bottom: calc(1vw + 1vh);
    cursor: pointer;
  }

  .main__block__image {
    width: inherit;
    height: calc(calc(1vw + 1vh) * 4);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .figcaption__image {
    cursor: pointer;
    text-align: center;
    font: bold calc(1vw + 1vh) 'Inter', sans-serif;
    color: rgba(64, 93, 145, 1);
  }